.tgr-auth {
	width: 350px;
	max-width: 90%;

	margin: 0 auto;
	padding: 10vh 0;

	h2 {
		font-size: 2em;
		margin: 5vh 0;
		text-align: center;
	}

	form .tgr-inputs {
		border-radius: 10px;
		box-shadow: 2px 2px 15px 0 rgba($dark-slate, 0.1),
			5px 5px 35px 0 rgba($dark-slate, 0.05);
		overflow: hidden;
	}

	form .tgr-inputs div:last-of-type label {
		border-bottom: 0;
	}

	form .tgr-inputs div {
		padding: 0 1em;
	}

	label {
		width: 100%;

		align-items: stretch;
		border-bottom: 1px solid $light-grey;
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 30px 1fr;
	}

	label i {
		width: 100%;

		color: $dark-slate;
		text-align: center;
	}

	input, textarea {
		width: 1fr;

		border: 0;
		box-sizing: border-box;
		outline: none;
		padding: 1em .8em;
	}

	.tgr-buttons {
		margin: 5vh 0;
		text-align: center;

		a, button {
			background: none;
			border: none;
			color: $dark-grey;
			cursor: pointer;
			display: inline-block;
			margin: 0 .5em;
			text-decoration: none;
		}
	}
}
