/**
*	Buttons
**/
.tgr-btn {
	&.circular {
		width: 3em;
		height: 3em;

		background-color: $slate;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 50%;
		display: block;
		margin: 0 .5em;
		transition: transform 200ms ease-out;
		will-change: transform;

		&.accent { background-color: $red; }
		&.check { background-image: url('../images/icon-check.svg'); }
		&.plus { background-image: url('../images/icon-plus.svg'); }

		& + span {
			display: block;
			margin-top: 1em;
		}
	}

	&.tgr-btn {
		transition: transform 80ms ease-out;
		transform: scale(1.0);
	}

	&.tgr-btn:hover {
		transform: scale(1.1);
	}

	&.tgr-btn:active, &.tgr-btn:focus {
		transform: scale(0.9);
	}
}

/**
*	Icons
**/
.tgr-icon {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	&.user { background-image: url('../images/icon-user.svg'); }
	&.key { background-image: url('../images/icon-key.svg'); }
}
