/**
*	Buttons
**/
.btn {
	&.circular {
		width: 3em;
		height: 3em;

		background-color: $slate;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border-radius: 50%;
		display: block;
		margin: 0 .5em;
		transition: transform 200ms ease-out;
		will-change: transform;

		&.accent { background-color: $red; }
		&.check { background-image: url("../images/icon-check.svg"); }
		&.plus { background-image: url("../images/icon-plus.svg"); }

		& + span {
			display: block;
			margin-top: 1em;
		}
	}
}

.btn {
	transition: transform 80ms ease-out;
	transform: scale(1.0);
}

.btn:hover,
a:hover .btn,
button:hover .btn {
	transform: scale(1.1);
}

.btn:active,
a:active .btn,
button:active .btn,
.btn:focus,
a:focus .btn,
button:focus .btn {
	transform: scale(0.9);
}

/**
*	Icons
**/
.icon {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	&.username { background-image: url('../images/icon-user.svg'); }
	&.password { background-image: url('../images/icon-key.svg'); }
}
