/**
*	A whole bunch of colours!
**/
$red: #cc1133;
$dark-red: #7f0b20;
$yellow: #ffb836;
$light-slate: #d7e0eb;
$slate: #99a4b5;
$dark-slate: #616e86;
$light-grey: #eeeeee;
$grey: #475750;
$dark-grey: #181a1a;
$green: #44aa33;

@import "components";
@import "layout";
@import "form";
